{% extends "base.html" %}

{% block content %}


<div class="container mt-5">
    <h1 class="text-center mb-4">Add Compatibility for {{ luminaire.product_name }}</h1>

    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Dimmer Brand</th>
                    <th>Dimmer Model</th>
                    <th>Min Luminaires (Luminaire)</th>
                    <th>Max Luminaires (Luminaire)</th>
                    <th>Min Dimming Percentage (Luminaire)</th>
                    <th>Max Dimming Percentage (Luminaire)</th>
                    <th>Low End Start Time (Luminaire)</th>
                    <th>Visual Test (Luminaire)</th>
                    <th>Criteria Passed</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for dimmer in compatible_dimmers %}
                    <tr>
                        <td>{{ dimmer.brand }} {{ dimmer.model }}</td>
                        <td>{{ dimmer.model }}</td>
                        <td>
                            <input type="number" name="min_luminaires_{{ dimmer.id }}" value="{{ form.min_luminaires.value }}" class="form-control">
                        </td>
                        <td>
                            <input type="number" name="max_luminaires_{{ dimmer.id }}" value="{{ form.max_luminaires.value }}" class="form-control">
                        </td>
                        <td>
                            <input type="number" name="min_dimming_percentage_{{ dimmer.id }}" value="{{ form.min_dimming_percentage.value }}" class="form-control">
                        </td>
                        <td>
                            <input type="number" name="max_dimming_percentage_{{ dimmer.id }}" value="{{ form.max_dimming_percentage.value }}" class="form-control">
                        </td>
                        <td>
                            <input type="number" name="low_end_start_time_{{ dimmer.id }}" value="{{ form.low_end_start_time.value }}" class="form-control">
                        </td>
                        <td>
                            <input type="checkbox" name="visual_test_{{ dimmer.id }}" {% if form.visual_test.value == 'on' %}checked{% endif %} class="form-check-input">
                        </td>
                        <td>
                            <input type="checkbox" name="criteria_passed_{{ dimmer.id }}" {% if form.criteria_passed.value %}checked{% endif %} class="form-check-input">
                        </td>
                        <td>
                            <textarea name="comments_{{ dimmer.id }}" class="form-control">{{ form.comments.value }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Save Compatibility</button>
    </form>

    <br>
    <a href="{% url 'luminaire_list_with_dimmers' %}" class="btn btn-secondary">Back to Luminaires List</a>
</div>

{% endblock %}
