{% extends "base.html" %}

{% block content %}


<form method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="luminaire" class="form-label">Select Luminaire:</label>
        <select name="luminaire" id="luminaire" class="form-select" required>
            <option value="">-- Select --</option>
            {% for luminaire in luminaires %}
                <option value="{{ luminaire.id }}" {% if luminaire.id == selected_luminaire.id %}selected{% endif %}>{{ luminaire.product_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="luminaire_production_date" class="form-label">Production Date:</label>
        <input type="date" name="luminaire_production_date" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="light_level" class="form-label">Light Level:</label>
        <input type="number" name="light_level" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="number_of_luminaries" class="form-label">Number of Luminaries:</label>
        <input type="number" name="number_of_luminaries" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="max_lux" class="form-label">Max Lux:</label>
        <input type="number" name="max_lux" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="min_lux" class="form-label">Min Lux:</label>
        <input type="number" name="min_lux" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="dimmer" class="form-label">Select Dimmer:</label>
        <select name="dimmer" id="dimmer" class="form-select" required>
            <option value="">-- Select --</option>
            {% for dimmer in dimmers %}
                <option value="{{ dimmer.model }}">{{ dimmer.model }} - {{ dimmer.brand }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Submit Test</button>
</form>

{% endblock %}